@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    padding: 0x;
    font-family: "Work Sans";
}
.title {
    text-align: center;
    font-weight: 300;
    padding: 20px;
    margin: 0;
    color: antiquewhite;
    background-color: black;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}
.btn {
    font-family: "Work Sans";
    padding: 8px 16px;
    border: none;
    background-color: black;
    color: antiquewhite;
    font-size: 18pt;
    border: 1px solid black;
    border-radius: 10px;
    transition: .250s ease-out;
}

.btn:hover {
    cursor: pointer;
    background: white;
    border: 1px solid black;
    color: black;

}

.display {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 54px;
}

.start {
    font-family: "Ubuntu";
    font-size: 32px;
    font-weight: 800;
    border: none;
    padding: 10px 30px;
    background-color: black;
    color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    transition: .250s ease-out;
}

.start:hover {
    cursor: pointer;
    background: white;
    border: 1px solid black;
    color: black;

}

.winner {
    text-align: center;
}